* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: grid;

  place-items: center;
  height: 100vh;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

button {
  all: unset;
  border: 1px solid #ccc;
  color: white;
  text-align: center;

  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #008cba;
}
