* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;

  place-items: center;
  height: 100vh;
}
.App {
  text-align: center;
  display: grid;
  gap: 1rem;
}

.buttons-container {
  /* display: grid; */
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
}

.button {
  all: unset;
  border: 1px solid #ccc;
  color: white;
  text-align: center;

  border-radius: 10px;
  /* padding: 0.5rem 1rem; */
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #008cba;
}
form {
  display: grid;
  gap: 0.8rem;
}
.question {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}
.input {
  width: 100%;
  border: 1px solid #008cba;
  border-radius: 10px;
  padding: 0.3rem;
  font-size: 1.2rem;
}
.text-label {
  display: grid;
  gap: 0.5rem;
}